<div class="modal modal--hidden">
  <div class="modal__wrapper overlay">
    <img src="img/main/form@1x.jpg" width="335" height="444" srcset="img/main/form@1x.jpg 1x, img/form@2x.jpg 2x"
      alt="Цветочная композиция">
    <form action="order__form">
      <h2>Оставьте свой номер и&nbsp;мы&nbsp;вам перезвоним!</h2>
      <label>
        <input type="text" placeholder="Имя" name="user">
      </label>
      <label>
        <input type="tel" placeholder="Телефон">
      </label>
      <button type="submit" class="button">Позвоните мне</button>
    </form>
    <button type="button">Закрыть</button>
  </div>
</div>
