<header class="page-header">
    <a href="main.html" class="page-header__logo">
        Логотип
        <svg width="137" height="47">
            <use xlink:href="img/sprite.svg#icon-logo"></use>
        </svg>
    </a>
    <button type="button">Меню</button>
    <nav class="page-header__navigation">
        <a href="wedding.html">Свадебная флористика</a>
        <a href="events.html">Букеты на любые мероприятия</a>
        <a href="composition.html">Композиции</a>
        <a href="decoration.html">Оформление мероприятий</a>
    </nav>
</header>