<footer class="page-footer">
    <nav class="page-footer__navigation">
        <a href="wedding.html">Свадебная флористика</a>
        <a href="events.html">Букеты на любые мероприятия</a>
        <a href="wedding.html">Букеты невесты</a>
        <a href="composition.html">Композиции</a>
        <a href="decoration.html">Оформление мероприятий</a>
    </nav>
    <ul class="social social--footer">
        <li>
            <a href="#">
                Инстаграм
                <svg width="25" height="25">
                    <use xlink:href="img/sprite.svg#icon-inst"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="#">
                Фейсбук
                <svg width="25" height="25">
                    <use xlink:href="img/sprite.svg#icon-fb"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="#" class="social-whatsapp">
                Ватсап
                <svg width="25" height="25">
                    <use xlink:href="img/sprite.svg#icon-whatsapp"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="#">
                Вконтакте
                <svg width="25" height="25">
                    <use xlink:href="img/sprite.svg#icon-vk"></use>
                </svg>
            </a>
        </li>
    </ul>
</footer>