.catalog {
  width: 100%;
  max-width: 1659px;
  height: 100vh;
  max-height: 1044px;
  margin: 0 auto;
  padding: 10.7% 30px 5%;

  background-image: url("../img/main/main-shadow@1x.png");
  background-repeat: no-repeat;
  background-position: top 31% center;
  background-size: 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/main/main-shadow@2x.png");
  }

  @media(max-width: $desktop-min-width - 1) {
    height: auto;
    padding: 100px 40px 50px;

    background-image: none;
  }

  @media(max-width: $tablet-width - 1) {
    padding: 100px 15px 50px;
  }

  h2 {
    position: relative;

    width: fit-content;
    margin: 0 auto 98px;
    padding-bottom: 22px;

    text-align: center;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 30%;

      display: block;
      width: 40%;
      height: 1px;

      background-color: white;
    }

    @media(max-width: $desktop-min-width - 1) {
      margin-bottom: 30px;
    }

    @media(max-width: $tablet-width - 1) {
      margin-bottom: 20px;
      margin-left: 0;
      padding-bottom: 0;

      text-align: left;
      &::after {
        display: none;
      }
    }
  }
}

.catalog__slider {
  width: 100%;
  max-width: 1560px;
  margin-bottom: 30px;
  overflow: hidden;
}

.catalog__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}


.catalog__item {
  width: 22%;
  min-width: 330px;
  min-height: 450px;
  overflow: hidden;

  @media(max-width: $desktop-min-width - 1) {
    width: 45%;
    min-width: 288px;
    min-height: 450px;
  }

  @media(max-width: $tablet-width - 1) {
    width: 100%;
    min-width: 288px;
    min-height: 392px;
  }

  h2 {
    margin: auto 0 0;
    padding-bottom: 0;

    font-style: normal;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    opacity: 0.9;

    @include font(16, 27);

    &::after {
      display: none;
    }
  }
}

.catalog__link {
  position: relative;

  display: block;
  height: 100%;
  padding: 10px;

  text-decoration: none;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid transparent;

  @include not-hover;

  @media(max-width: $desktop-min-width - 1) {
    padding: 5px;

    &:hover,
    &:focus {
      box-shadow: inset 0 0 0 5px $background;
    }
  }

  &--wedding {
    background-image: url("../img/main/main-catalog1-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main/main-catalog1-desktop@2x.jpg");
    }
  }

  &--for-event {
    background-image: url("../img/main/main-catalog2-desktop@1x.jpg");
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main/main-catalog2-desktop@2x.jpg");
    }
  }

  &--composition {
    background-image: url("../img/main/main-catalog3-desktop@1x.jpg");
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main/main-catalog3-desktop@2x.jpg");
    }
  }

  &--decoration {
    background-image: url("../img/main/main-catalog4-desktop@1x.jpg");
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main/main-catalog4-desktop@2x.jpg");
    }
  }

  &:hover,
  &:focus {
    border-color: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 0 10px $background;

    @include hover;

    .catalog__overlay {
      background-color: rgba(0, 0, 0, 0.6);

      transition: all 0.3s;
    }

    .catalog__order {
      display: block;

      animation: move 0.3s 1 linear;
    }

    h2 {
      animation: move 0.3s 1 linear;
    }
  }
}


.catalog__overlay {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 25px 15px 5px;
  overflow: hidden;

  transition: 0.3s;

  @media(max-width: $desktop-min-width - 1) {
    padding: 37px 15px 10px;
  }

  @media(max-width: $tablet-width - 1) {
    padding-top: 17px;
  }
}


.catalog__order {
  display: none;
  width: fit-content;
  margin-top: 20px;
  margin-bottom: 5px;

  color: black;

  background-color: white;

  transition: 0.3s;
}

.catalog__pagination {
  display: none;
  width: fit-content;
  margin: 0 auto;

  @media(max-width: $desktop-min-width - 1) {
    display: flex;
  }

  span {
    display: block;
    width: 62px;
    height: 1px;
    margin-right: 13px;

    background-color: #ffffff;
    border-radius: 50px;
    opacity: 0.3;

    &:last-child {
      margin-right: 0;
    }

    &.swiper-pagination-bullet-active {
      opacity: 1;
    }
  }
}
