.frame {
  width: 100%;
  min-height: 1044px;
  padding: 323px 90px 75px;

  background: linear-gradient(to bottom, transparent 90%, $background 95%), url("../img/main/main-frame-desktop@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: linear-gradient(to bottom, transparent 90%, $background 95%),
    url("../img/main/main-frame-desktop@2x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-size: cover;
  }

  h1 {
    width: 818px;
    margin: 0 auto 80px;

    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.09em;

    @include font(120, 132);
  }
}

.frame__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1728px;
  margin: 0 auto;
}

.frame__see-more {
  display: block;
  width: fit-content;
  margin: 0 auto 41px;
}

.frame__swiper {
  display: block;
  width: 38px;
  height: 60px;
  margin-top: 110px;
  margin-left: 104px;

  background-image: url("../img/svg/next.svg");
  background-repeat: no-repeat;
  background-position: center;

  @include font(0, 0);
  @include hover;

  &:hover,
  &:focus {
    background-image: url("../img/svg/next-hover.svg");
  }
}

.frame__to-catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -69px;
  margin-right: -88px;

  text-transform: lowercase;
  text-decoration: none;
  letter-spacing: 0.06em;

  transform: rotate(90deg);

  @include font(20, 22);
  @include hover;

  svg {
    margin-left: 30px;

    transform: rotate(-90deg);
  }

  &:hover svg,
  &:focus svg {
    transform: rotate(-90deg) translateY(10px);
  }
}

@media (max-width: $desktop-min-width) {
  .frame {
    height: auto;
    min-height: 1024px;
    padding: 331px 50px 54px;

    background-image: url("../img/main/main-frame-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main/main-frame-tablet@2x.jpg");
    }

    h1 {
      width: auto;
      margin-bottom: 82px;

      @include font(70, 77);
    }
  }

  .frame__container {
    flex-direction: column;
  }

  .frame__see-more {
    margin-bottom: 211px;
  }

  .frame__swiper {
    display: none;
  }

  .frame__to-catalog {
    margin: 0 auto;

    @include font(0, 0);
    svg {
      width: 41px;
      height: 41px;
    }
  }
}

@media (max-width: $tablet-width) {
  .frame {
    min-height: auto;
    margin-bottom: 6px;
    padding: 103px 30px 54px;

    h1 {
      width: auto;
      margin-bottom: 35px;

      @include font(30, 42);
    }
  }

  .frame__see-more {
    margin-bottom: 75px;
  }

  .frame__to-catalog svg {
    width: 18px;
    height: 18px;
  }
}
