.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1878px;
  margin: auto auto 0;
  padding: 21px 30px;

  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.page-footer__navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 994px;
  margin-bottom: 30px;

  a {
    text-decoration: none;

    opacity: 0.5;

    @include font(16, 18);
    @include hover;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

@media (max-width: $desktop-min-width) {
  .page-footer {
    max-width: 94%;
    padding: 40px 21px;
  }

  .page-footer__navigation {
    flex-direction: column;
    min-width: fit-content;
    margin-bottom: 20px;

    a {
      margin-bottom: 20px;

      @include font(20, 22);
    }
  }
}

@media (max-width: $tablet-width) {
  .page-footer {
    padding: 30px 15px;
  }

  .page-footer__navigation {
    margin-bottom: 15px;

    a {
      margin-bottom: 11px;

      @include font(16, 18);
    }
  }
}
