.promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1235px;
  margin: 0 auto 170px;

  img {
    width: 56%;
    height: auto;
  }
}

.promo__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  margin-left: 30px;

  h2 {
    position: relative;

    margin-bottom: 25px;
    padding-bottom: 17px;

    line-height: 170%;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      display: block;
      width: 40%;
      height: 1px;

      background-color: white;
    }
  }

  p {
    margin: 0;
    margin-bottom: 45px;

    font-size: 14px;
    line-height: 170%;
  }
}

@media (max-width: $desktop-min-width) {
  .promo {
    flex-direction: column;
    width: 453px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 44px;
    padding: 7.2% 0;

    img {
      order: -1;
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .promo__container {
    align-items: center;
    width: 100%;

    h2 {
      width: fit-content;
      margin: 0 auto 40px;

      text-align: center;

      &::after {
        left: 40%;

        width: 20%;
      }
    }

    p {
      margin-bottom: 15px;

      text-align: center;
    }

    button {
      padding: 16px 35px;

      @include font(11, 12);
    }
  }
}

@media (max-width: $tablet-width) {
  .promo {
    margin-bottom: 5px;
    padding: 50px 15px 100px;

    img {
      width: 100%;
      margin-bottom: 25px;
    }
  }
  .promo__container {
    align-items: flex-start;
    width: 100%;

    h2 {
      width: 50%;
      margin-bottom: 20px;
      margin-left: 0;

      text-align: left;

      &::after {
        left: 0;
      }
    }

    p {
      margin-bottom: 40px;

      text-align: left;
    }
  }
}
