.service {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  max-height: 1080px;

  & + .page-footer {
    display: none;
  }
}

.service__main-img {
  position: relative;

  flex-grow: 1;
  width: 50%;
  max-width: 996px;

  &::after {
    content: "";
    position: absolute;
    top: 3%;
    left: 3%;

    display: block;
    width: 100%;
    height: 94%;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 1080px;

    object-fit: cover;
  }
}

.service__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 48%;
  padding: 11% 6% 24px 6%;
  overflow: hidden;

  p:not(.service__link) {
    margin: 0;
    margin-bottom: 30px;

    font-size: 18px;
    line-height: 150%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  button {
    margin-bottom: 100px;
  }
}

.service__swiper-container {
  position: relative;

  width: 82%;
  margin-bottom: 30px;

  button {
    position: absolute;
    top: calc(50% - 23px);
  }

  button:first-of-type {
    left: -18px;
  }
  button:last-of-type {
    right: -18px;
  }

  .swiper-button-disabled {
    display: none;
  }
}

.service__gallery {
  overflow: hidden;
}

.service__gallery-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.service__gallery-item {
  @include hover;

  &:hover,
  &:focus {
    transform: scale(0.95);
  }
}

.service__link {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0;
  margin-top: auto;
  margin-bottom: 45px;
  margin-left: auto;

  a {
    display: inline-block;
    margin-left: 30px;

    border-radius: 4px;

    @include font(0, 0);
    @include hover;

    &:not(.social-whatsapp) {
      border: 1px solid white;
    }

    &:hover,
    &:focus {
      background-color: white;

      svg {
        fill: $background;
        stroke: $background;
      }
    }

    svg {
      transition: 0.3s;

      fill: white;
      stroke: white;

      @media (max-width: $tablet-width) {
        width: 18px;
        height: 18px;
      }
    }
  }
}

@media (max-width: $desktop-min-width) {
  .service {
    display: block;
    max-height: 100%;
    margin-bottom: 39px;

    & + .page-footer {
      display: flex;
    }
  }

  .service__main-img {
    width: 100%;
    height: 518px;
    margin: 0 auto;

    &::after {
      display: none;
    }
  }

  .service__container {
    width: 100%;
    padding: 30px 50px;
    p:not(.service__link) {
      margin-bottom: 35px;

      font-size: 20px;
      line-height: 24px;
    }

    button {
      margin: 0;
    }
  }

  .service__swiper-container {
    order: -1;
    width: 100%;
    margin: 0;
    margin-bottom: 70px;
    padding: 0 10px;

    button {
      display: none;
    }
  }

  .service__gallery-item {
    min-width: 115px;
  }

  .service__link {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .service__main-img {
    height: 443px;
  }

  .service__container {
    padding: 30px 20px;

    button {
      margin-bottom: 50px;
    }
  }

  .service__gallery {
    overflow: visible;
  }
}
