.social {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;

  @media(max-width: $desktop-min-width - 1) {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 35px;
  }

  @media(max-width: $tablet-width - 1) {
    margin-bottom: 29px;
  }

  &--footer {
    flex-direction: row;
    width: fit-content;

    li:not(:last-child) {
      margin-right: 50px;
    }

    @media(max-width: $desktop-min-width - 1) {
      width: fit-content;
    }
  }

  li {
    margin-bottom: 18px;

    @media(max-width: $desktop-min-width - 1) {
      display: inline-block;
      width: 55px;
      height: 55px;
      margin-bottom: 0;
      padding: 15px;

      vertical-align: middle;
      text-align: center;

      background-color: $background;
      border-radius: 50%;
    }

    @media(max-width: $tablet-width - 1) {
      width: 35px;
      height: 35px;
      padding: 8px;
    }


    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    display: inline-block;

    border-radius: 4px;

@include font(0, 0);

@include not-hover;

    &:not(.social-whatsapp) {
      border: 1px solid white;
    }

    &:hover,
    &:focus {
      background-color: white;

@include hover;

      svg {
        fill: $background;
        stroke: $background;
      }
    }
  }

  svg {
    transition: 0.3s;

    fill: white;
    stroke: white;

    @media(max-width: $tablet-width - 1) {
      width: 18px;
      height: 18px;
    }
  }
}
