.social {
  z-index: 15;

  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;

  li {
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--footer {
    flex-direction: row;
    width: fit-content;

    li:not(:last-child) {
      margin-right: 50px;
    }
  }

  svg {
    transition: 0.3s;

    fill: white;
    stroke: white;
  }

  a {
    display: inline-block;

    border-radius: 4px;

    @include font(0, 0);
    @include hover;

    &:not(.social-whatsapp) {
      border: 1px solid white;
    }

    &:hover,
    &:focus {
      background-color: white;

      svg {
        fill: $background;
        stroke: $background;
      }
    }
  }
}

@media (max-width: $desktop-min-width) {
  .social {
    z-index: 0;

    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;

    &--footer {
      width: fit-content;
    }

    li {
      display: inline-block;
      width: 55px;
      height: 55px;
      margin-bottom: 0;
      padding: 15px;

      vertical-align: middle;
      text-align: center;

      background-color: $background;
      border-radius: 50%;
    }

    svg {
      width: 18px;
      height: 18px;
    }
  }
}

@media (max-width: $tablet-width) {
  .social {
    margin-bottom: 15px;

    li {
      width: 35px;
      height: 35px;
      padding: 8px;
    }
  }
}
