.title {
  margin: 0;

  font-weight: normal;
  text-transform: uppercase;

  &--main {
    width: 80%;
    margin-bottom: 50px;

    letter-spacing: 0.09em;

    @include font(50, 55);
  }

  &--section {
    margin-bottom: 20px;

    letter-spacing: 0.06em;

    @include font(30, 33);
  }
}

@media (max-width: 1280px) {
  .title--main {
    margin-bottom: 30px;

    @include font(30, 33);
  }
}

@media (max-width: $desktop-min-width) {
  .title--main {
    margin-bottom: 30px;

    @include font(40, 44);
  }
}

@media (max-width: $tablet-width) {
  .title--main {
    @include font(20, 22);
  }

  .title--section {
    @include font(20, 22);
  }
}
