$desktop-max-width: 1920px; /* 1920 рх и более */
$desktop-min-width: 1024px; /* 1024-1279 рх */
$tablet-width: 768px; /* 768-1023 рх */
$mobile-width: 320px; /* 320-767 рх  */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$background: #3b181e;
